/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: black;
    color: aquamarine;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #7B1FA2;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 40px;
}

.button {
    border-radius: 8px;
    background-color: #7B1FA2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    /* width:64px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }